PORT=8080

PAYPAL_CLIENT_ID=TON_CLIENT_ID_PAYPAL
PAYPAL_CLIENT_SECRET=TON_CLIENT_SECRET_PAYPAL
PAYPAL_BASE_URL=https://api-m.sandbox.paypal.com

PRODUCT_NAME=Rapport astrologique HeliosAstro
PRODUCT_PRICE=49.00
CURRENCY=EUR
